<% provide(:title,"Help") %>
<style>
body {
      background-image: url("https://s01.sgp1.cdn.digitaloceanspaces.com/article/128605-qpliubehiq-1570346486.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
</style>
   <h1>Having Trouble?</h1>
   <h2 style="color: white;">We are here to help you.</h2>

     <address><p style="color: white;">Contact us on
     <a href="mailto:martaidhelpline@gmail.com" style="color: coral;">our mail ID</a></p></address>
